aside.left-panel
  background: #272c33
  display: table-cell
  height: 100vh
  min-height: 100%
  padding: 0 25px
  vertical-align: top
  width: 280px
  transition: width .3s ease

  .navbar
    background: #272c33
    border-radius: 0
    border: none
    display: block
    margin: 0 0 100px
    padding: 0

    .menu-title
      border-bottom: 1px solid #4e4e52
      color: #9496a1
      clear: both
      display: block
      font-family: open sans, sans-serif
      font-size: 14px
      font-weight: 700
      line-height: 50px
      padding: 15px 0 0
      text-transform: uppercase
      width: 100%

    .navbar-header
      float: none
      text-align: center
      width: 100%
      .navbar-brand
        border-bottom: 1px solid #4e4e52
        color: #f1f2f7!important
        font-family: open sans, sans-serif
        font-size: 22px
        float: none
        line-height: 50px
        margin: 0
        text-align: left
        text-transform: capitalize
        min-height: 69px
        padding: 0
        display: flex
        justify-content: center
        align-items: center
        position: relative
        .img
          max-width: 160px
    .navbar-nav
      float: none
      position: relative
      >.active
        >a
          color: #d7d9e3!important
        .menu-icon
          color: #fff!important
      li
        width: 100%

        >a
          background: 0 0!important
          color: #c8c9ce!important
          display: inline-block
          font-family: open sans, sans-serif
          font-size: 14px
          line-height: 30px
          padding: 10px 0
          position: relative
          width: 100%
          .menu-icon
            color: #8b939b
            float: left
            margin-top: 8px
            width: 55px
            text-align: left
            z-index: 9